.shariff {
    .flattr {
        a {
            background-color: #7ea352;
            color: #fff;
            .s3uu { font-size: 18px; }
            &:hover {
                background-color: #F67C1A;
            }
        }
    }
    .theme-white {
        .flattr a {
            color: #7ea352;
        }
    }
}