.shariff {
    .googleplus {
        a {
            background-color: #d34836;
            &:hover {
                background-color: #f75b44;
            }
        }
    }
    .theme-white {
        .googleplus a {
            color: #d34836;
        }
    }
}