.shariff {
    .linkedin {
        a {
            background-color: #007bb6;
            &:hover {
                background-color: #1488bf;
            }
        }
    }
    .theme-white {
        .linkedin a {
            color: #007bb6;
        }
    }
}