.shariff {
    .linkedin {
        a {
            background-color: #0077b5;
            &:hover {
                background-color: #1488bf;
            }
        }
    }
	.theme-default {
        .linkedin {
			.share_count {
				background-color: #33AAE8;
			}
        }
    }
    .theme-white {
        .linkedin a {
            color: #0077b5;
            &:hover {
                color: #0077b5;
            }
        }
    }
}