.shariff {
    .mailto {
        a {
            background-color: #999;
            &:hover {
                background-color: #a8a8a8;
            }
            .s3uu {
                margin-top: -1px;
            }
        }
    }
    .theme-white {
        .mailto a {
            color: #999;
        }
    }
}