.shariff {
    .printer {
        a {
            background-color: #999;
            &:hover {
                background-color: #a8a8a8;
            }
        }
    }
    .theme-white {
        .printer a {
            color: #999;
        }
    }
}