.shariff {
    .stumbleupon {
        a {
            background-color: #eb4b24;
            &:hover {
                background-color: #e1370e;
            }
        }
        .s3uu-stumbleupon {
            font-size: 20px;
        }
    }
	.theme-default {
        .stumbleupon {
			.share_count {
				color: darken(#eb4b24, 20%);
			}
        }
    }
    .theme-white {
        .stumbleupon a {
            color: #eb4b24 !important;
        }
    }
}