.shariff {
    .twitter {
        a {
            background-color: #55acee;
            &:hover {
                background-color: #32bbf5;
            }
        }
    }
	.theme-default {
        .twitter {
			.share_count {
				color: darken(#55acee, 20%);
			}
        }
    }
    .theme-white {
        .twitter a {
            color: #55acee;
        }
    }
}