.shariff {
    .xing {
        a {
            background-color: #126567;
            &:hover {
                background-color: #29888a;
            }
        }
    }
    .theme-white {
        .xing a {
            color: #126567;
        }
    }
}