.shariff {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.shariff::after,
.shariff::before {
  content: " ";
  display: table;
}
.shariff::after {
  clear: both;
}
.shariff span {
  color: inherit;
}
.shariff ul {
  display: flex;
  display: -webkit-inline;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  list-style: none;
}
.shariff ul li::before {
  content: normal !important;
}
.shariff li {
  height: 35px;
  box-sizing: border-box;
  overflow: hidden;
  margin: 5px !important;
  padding: 0 !important;
  text-indent: 0 !important;
}
.shariff li a {
  color: #fff;
  position: relative;
  display: block;
  height: 35px;
  text-decoration: none;
  box-sizing: border-box;
}
.shariff li .share_text,
.shariff li .share_count {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  vertical-align: middle;
  line-height: 36px;
}
.shariff li .s3uu {
  width: 35px;
  line-height: 35px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
}
.shariff li .share_count {
  padding: 0 8px;
  height: 33px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 1px;
  background-color: rgba(255, 255, 255, 0.5);
}
.shariff .orientation-horizontal li {
  -webkit-box-flex: 1;
}
.shariff .orientation-horizontal .info {
  -webkit-box-flex: 0;
}
.shariff .orientation-horizontal li {
  float: left;
  flex: none;
}
.shariff .orientation-horizontal li .share_text {
  display: block;
  text-indent: -9999px;
  padding-left: 3px;
}
.shariff .orientation-horizontal li .share_count {
  display: none;
}
.shariff .theme-default .shariff-button a {
  color: #fff;
}
.shariff .theme-color .share_count {
  background-color: transparent !important;
  color: #fff;
}
.shariff .theme-color a {
  color: #fff !important;
}
.shariff .theme-color a:hover {
  color: #fff;
}
.shariff .theme-grey .share_count {
  background-color: transparent;
}
.shariff .theme-grey .shariff-button a {
  background-color: #b0b0b0;
  color: #fff;
}
.shariff .theme-white .share_count {
  background-color: transparent;
}
.shariff .theme-white .shariff-button {
  border: 1px solid #ddd;
}
.shariff .theme-white .shariff-button a {
  background-color: #fff;
  color: 000;
}
.shariff .theme-white .shariff-button a:hover {
  background-color: #eee;
}
.shariff .theme-round .share_count {
  display: inline;
  height: 100%;
  padding: 0;
  right: 0;
  left: 0;
  top: 0;
  margin: 0;
  width: 100%;
  background-color: transparent;
  color: transparent !important;
}
.shariff .theme-round .shariff-button {
  width: 35px !important;
  min-width: 35px !important;
  height: 35px;
  border-radius: 50%;
  margin: 5px;
}
.shariff .theme-round .share_text {
  display: block;
  text-indent: -9999px;
}
.shariff .theme-round li {
  background: none;
}
.shariff .theme-round li .s3uu {
  vertical-align: baseline;
}
.shariff .theme-round li a {
  color: #fff;
}
.shariff .theme-round a {
  text-align: center;
  color: #fff;
  position: relative;
  height: 35px;
}
.shariff .theme-round li.facebook .share_count:hover {
  background-color: #99adcf !important;
  color: #183a75 !important;
}
.shariff .theme-round li.twitter .share_count:hover {
  background-color: #96d4ee !important;
  color: #0174a4 !important;
}
.shariff .theme-round li.googleplus .share_count:hover {
  background-color: #eda79d !important;
  color: #a31601 !important;
}
.shariff .theme-round li.pinterest .share_count:hover {
  background-color: #ff050f !important;
  color: #fff !important;
}
.shariff .theme-round li.linkedin .share_count:hover {
  background-color: #99adcf !important;
  color: #183a75 !important;
}
.shariff .theme-round li.xing .share_count:hover {
  background-color: #4fa5a7 !important;
  color: #15686a !important;
}
.shariff .theme-round li.reddit .share_count:hover {
  background-color: #e9f2fa !important;
  color: #000000 !important;
}
.shariff .theme-round li.stumbleupon .share_count:hover {
  background-color: #fb613c !important;
  color: #fff !important;
}
.shariff .orientation-vertical {
  width: 120px;
}
.shariff .orientation-vertical li {
  width: 100%;
}
.shariff .orientation-vertical li a {
  color: #fff;
}
.shariff .orientation-vertical.theme-round {
  width: 50px !important;
}
.widget .shariff .theme-default li a,
.widget .shariff .theme-color li a,
.widget .shariff .theme-grey li a,
.widget .shariff .theme-round li a {
  color: #fff;
}
.widget .shariff .theme-default li a:hover,
.widget .shariff .theme-color li a:hover,
.widget .shariff .theme-grey li a:hover,
.widget .shariff .theme-round li a:hover {
  color: #fff;
}
@media only screen and (max-width: 360px) {
  .shariff .orientation-horizontal li {
    min-width: 35px;
    max-width: 35px;
  }
}
@media only screen and (min-width: 360px) {
  .shariff .orientation-horizontal li {
    min-width: 80px;
    width: auto;
  }
  .shariff .orientation-horizontal li .share_count {
    display: block;
  }
  .shariff .orientation-horizontal.col-1 li,
  .shariff .orientation-horizontal.col-2 li {
    min-width: 120px;
    max-width: 120px;
  }
  .shariff .orientation-horizontal.col-1 li .share_text,
  .shariff .orientation-horizontal.col-2 li .share_text {
    text-indent: 0;
    display: inline;
  }
  .shariff .orientation-horizontal.col-5 li,
  .shariff .orientation-horizontal.col-6 li {
    flex: none;
  }
}
@media only screen and (min-width: 640px) {
  .shariff .orientation-horizontal.col-3 li {
    min-width: 120px;
    max-width: 120px;
  }
  .shariff .orientation-horizontal.col-3 li .share_text {
    text-indent: 0;
    display: inline;
  }
}
@media only screen and (min-width: 768px) {
  .shariff .orientation-horizontal li {
    min-width: 120px;
    max-width: 120px;
  }
  .shariff .orientation-horizontal li .share_text {
    text-indent: 0;
    display: inline;
  }
  .shariff .orientation-horizontal.col-5 li,
  .shariff .orientation-horizontal.col-6 li {
    flex: 1;
  }
}
@media only screen and (min-width: 1024px) {
  .shariff li {
    height: 35px;
  }
  .shariff li a {
    height: 35px;
  }
  .shariff li .s3uu {
    width: 35px;
    line-height: 35px;
  }
}
